[2012-03-19 09:54] dpinte opened #1 "fix windows build of pyql"
The build fails at the moment under MSVC 2008.

[2012-04-19 11:26] triloki opened #2 "Error building on Ubuntu 11.10"
Hi,
I tried building PyQL on ubuntu 11.10 with Python 2.7. I adjusted INCLUDE_DIRS and LIBRARY_DIRS for my (default) installation of Quantlib.

[code]

Any ideas on how to solve this?

Cheers

[2012-04-19 11:32] #2 closed, assigned to nobody

[2012-10-31 02:14] sriram-rajan opened #10 "python 2.6 format issue"
I have followed the instructions to use Cython 0.16, but in the process of installing PyQL I get the error given in the subject line. This was discussed as well on the PyQL Wordpress site comments, http://dpinte.wordpress.com/2012/03/23/pyql/. But I don't think it was resolved.

Please let me know how to proceed.

Below is what I get:

sh-3.2# python setup.py install
/System/Library/Frameworks/Pyt

[2012-11-08 16:12] davidia opened #13 "cythonise fails / distribute issue"
Hi,

I've installed cython 0.16 with the patch but building fails with:

:~/src/pyql-master$ make build
python setup.py build_ext --inplace
/usr/local/python-2.7.3-64bit/lib/python2.7/distutils/extension.py:133: UserWarning: Unknown Extension options: 'pyrex_directives'
  warnings.warn(msg)
running build_ext
building '_' extension
icc -DNDEBUG -g -O3 -Wall -Wstrict-prototypes -O3 -std=c99 -fPIC -I

[2012-11-12 14:35] #13 closed, assigned to dpinte

[2012-11-15 14:46] davidia opened #14 "Can't set daycount convention in Thirty360"
In c++ the Thirty360 constructor takes a Thirty360::Convention argument to set the daycount convention and defaults to US if none is supplied. The pyql wrapper has no way to select European daycount.

[2012-11-29 14:37] wegamekinglc opened #15 "How to install pyql on Windows 7 x64?"
I am running on Win 7 x64 version.  On my machine I have already installed Boost 1.51 and Quantlib 1.2. Now I  want to install pyql on top of them. My python version is 2.7.3 with cython 1.7.

As usual I run the command "python setup.py install". The error pops up. The error messge reads:

quantlib\currency.cpp:1871:59: warning: unknown conversion type character 'z' in
 format
quantlib\currency.cp

[2013-01-19 00:55] mft-webdev opened #20 "gcc Install errors"
Installing Distribute fixed the below error - but another error happened
after make build:
/usr/lib/python2.7/distutils/extension.py:133: UserWarning: Unknown Extension options: 'pyrex_directives'
  warnings.warn(msg)
running install
Checking .pth file support in /usr/local/lib/python2.7/dist-packages/
/usr/bin/python -E -c pass
TEST PASSED: /usr/local/lib/python2.7/dist-packages/ appears to suppo

[2013-01-19 13:40] #20 closed, assigned to nobody

[2013-01-28 13:22] #14 closed, assigned to dpinte

[2013-01-28 13:23] #10 closed, assigned to dpinte

[2013-04-12 15:11] sebastianst opened #23 "Compiling issues under Windows with MinGW"
Hey,

I am encountering problems compiling pyql unted Windows with MinGW (I am forced to use windows on this one). I successfully compiled the QuantLib itself against boost with MinGW, as well as Cython. It is worth noting, that I am working in a python virtualenv. I edited the `distutils.cfg` to contain

[code]

and fixed the paths to QuantLib and Boost in the `setup.py` file of pyql.

Now, when

[2013-11-13 05:36] nhandtvt opened #25 "Cythonise fails Cannot convert 'string' to Python object"
Hi,
I've installed PyQL. I followed every steps in https://github.com/enthought/pyql/blob/master/docs/source/getting_started.rst
But when compiling pyql, I got the issue:

[code]

Help me please.
Many thanks

[2013-11-14 11:52] #25 closed, assigned to nobody

[2014-01-30 03:16] aazout opened #38 "Issue building on Mac"
All libraries are installed properly including QuantLib and Boost and still getting issues:

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/distutils/extension.py:133: UserWarning: Unknown Extension options: 'pyrex_directives'
  warnings.warn(msg)
running build_ext
building '_' extension
cc -fno-strict-aliasing -fno-common -dynamic -arch x86_64 -arch i386 -g -Os -pipe -fno-

[2014-01-30 03:16] aazout opened #39 "Issue building on Mac"
All libraries are installed properly including QuantLib and Boost and still getting issues:

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/distutils/extension.py:133: UserWarning: Unknown Extension options: 'pyrex_directives'
  warnings.warn(msg)
running build_ext
building '_' extension
cc -fno-strict-aliasing -fno-common -dynamic -arch x86_64 -arch i386 -g -Os -pipe -fno-

[2014-02-19 14:56] fusionic1 opened #40 "Issue installing PyQL on Mac"
i have similar issue installing PyQL on Mac where i have Cython-0.16, patched as instructed, QuantLib-1.3 and a recent version of boost installed. There should be no problem with my boost and QuantLib installation as i can compile QuantLib examples with no issues. i am on OS X 10.9.1 Maverick.

The error message is shown below (right at the bottom). Can you help? Thanks.

Chees-iMac:pyql-master fu

[2014-02-21 14:25] jvkersch opened #42 "`c_str` signature discards const-ness."
From https://github.com/enthought/pyql/blob/master/quantlib/time/_calendar.pxd#L9, the following declaration discards the const attribute of the pointer returned by `c_str`:

[code]

This causes compilation problems when assigning the result of `.c_str()` to a local variable. A small fix is to declare the return type as `const char *` or (possibly) to discard that code and do `from libcpp cimport

[2014-02-24 11:34] jvkersch opened #44 "Circular import in IborIndex"
There is a circular import in the index classes, where `Libor` and `Euribor` import  `IborIndex` (as they derive from it), while `IborIndex` imports its derived classes for use in the class method `from_name`. This causes e.g. the following statement to fail:

[code]

One solution would be to make the class method `from_name` into a function (defined in a separate file).

[2014-02-24 15:20] #42 closed, assigned to nobody

[2014-02-24 15:21] #44 closed, assigned to nobody

[2014-03-06 15:03] jvkersch opened #46 "Failing test with QuantLib 1.4"
[code]

[2014-03-07 14:30] #46 closed, assigned to jvkersch

[2014-03-17 10:29] dpinte opened #52 "Add CVA example"
based on this QuantLib SWIG one: http://www.pricederivatives.com/en/derivatives-cva-example-monte-carlo-python/

[2014-03-26 19:03] suhasghorp opened #57 "Error building pyqa"
Using Python 2.7, installed cython successfully. Using MSVC 11 (Visual Studio 2012) compiler. Getting below error message. Thanks.

C:\pyql-master>python setup.py build
c:\python27\lib\distutils\extension.py:133: UserWarning: Unknown Extension options: 'cython_directives'
  warnings.warn(msg)
c:\python27\lib\distutils\extension.py:133: UserWarning: Unknown Extension options: 'pyrex_directives'
  w

[2014-03-27 11:46] #57 closed, assigned to nobody

[2014-03-27 11:46] #40 closed, assigned to nobody

[2014-03-27 11:47] #39 closed, assigned to nobody

[2014-03-27 11:48] #38 closed, assigned to nobody

[2014-03-27 11:50] #23 closed, assigned to nobody

[2014-03-27 11:51] #15 closed, assigned to nobody

[2014-04-19 16:59] cswiger opened #58 "issue with values in OptionQuotes.py"
in the pyql/examples/scripts/OptionQuotes.py a subtle python thing shows up in the call to Compute_IV(..., tMin=1/12, ...)  - 1/12 evaluates to 0, so for some datasets that actually HAVE data less then 1/12 we get a nasty error in

[code]

Fix:  change it to 1/12. to force floating point. Add a decimal point to the 1 or the 12.  Yea, it's a python thing ;)

[2014-04-30 04:29] #58 closed, assigned to nobody

[2014-08-22 19:31] tnicolas opened #61 "Missing data in examples/calibrate_heston.py"
It appears that the Heston Calibration example (‘calibrate_heston.py’) is missing it’s ‘df_rates.pkl’ file and therefore doesn’t run.  I was wondering if you might be able to check the necessary file into the examples/data directory of the project.

[2014-09-01 17:14] linkedrank opened #62 "Can't build pyql on Mac"
Hello -

I get the error below. Can you help? I have setuptools installed, cython, and a c++ compiler (as I was able to compile and run the QuantLib example as specified here: http://quantlib.org/install/macosx.shtml

python setup.py build_ext --inplace
/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/distutils/extension.py:133: UserWarning: Unknown Extension options: 'cython

[2014-09-02 15:53] #62 closed, assigned to nobody

[2014-09-05 01:34] dpinte opened #64 "Numerical failures for 2 tests on win32"
Reported in #63

[code]

[2014-09-11 23:41] #1 closed, assigned to nobody

[2014-09-16 15:18] BlueCollarWorker opened #65 "Install issue on Mac"
Hi guys,

I have an install issue on Mac (Mac OS 10.9.4). I've installed QuantLib 1.3 and it works fine (example runs). Its located under opt/local, so I've added the opt/local/include and opt/local/lib directories into the setup.py file.

I then 'make build' and 'make install', and the pyql seems to install under my site-packages folder. It installs under a folder called quantlib-0.1-py2.7-macosx

[2014-09-22 10:46] #65 closed, assigned to nobody

[2014-09-23 18:28] dr-leo opened #66 "Compiling error on Win7x64, MSVC 10.0 Express, 32-bit, Python 3.4.1 32bit, QL1.4, Boost 1.55.0"
The following transcript looks like a Py2to3 C API problem:

...

building 'quantlib.indexes.libor' extension
C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\BIN\cl.exe /c /nologo /Ox
 /MD /W3 /GS- /DNDEBUG -DHAVE_CONFIG_H -D__WIN32__ -DWIN32 -DNDEBUG -D_WINDOWS -
DNOMINMAX -DWINNT -D_WINDLL -D_SCL_SECURE_NO_DEPRECATE -D_CRT_SECURE_NO_DEPRECAT
E -D_SCL_SECURE_NO_WARNINGS -IC:\users\stefan\d

[2014-09-26 14:13] linkedrank opened #68 "Catch underlying QuantLib exception that kills Python server"
I'm having trouble catching an exception: basically I've created an invalid CreditDefaultSwap object with a strike = 100 so 10000% (obviously not financially valid)

 cdsObject = CreditDefaultSwap(
        SELLER, 1.0, 100, cdsSchedule, Following, Actual365Fixed()
    )

When I do cdsObject.net_present_value, I get the following error:
libc++abi.dylib: terminating with uncaught exception of type Q

[2014-10-10 16:08] joejohnson111 opened #70 "Install Issue"
I am having an issue with a linked library that is not working during the build process.

running build_ext
building 'quantlib.index' extension
x86_64-linux-gnu-gcc -pthread -fno-strict-aliasing -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -fPIC -I/usr/local/include -I/usr/include -I. -I/home/**_/QuantLib-1.4 -I./cpp_layer -I/usr/local/lib/python2.7/dist-packages/numpy/core/include -I/usr/inc

[2014-10-10 17:36] #70 closed, assigned to nobody

[2014-11-03 08:46] Hardy5012 opened #71 "Can`t generate c code files. Cython-0.21.1 Python2.6 QuantLib-1.4"
D:\sourcefile\python\pyql\pyql-master>setup.py build
C:\Python26\lib\distutils\extension.py:133: UserWarning: Unknown Extension options: 'cython_directiv
es'
  warnings.warn(msg)
running build
running build_py
running build_ext
building '*' extension
creating build\temp.win32-2.6
creating build\temp.win32-2.6\Release
creating build\temp.win32-2.6\Release\quantlib
d:\Program Files (x86)\Microsoft V

[2014-11-09 15:49] jonathanng opened #73 "Installation error: "need more than 2 values to unpack""
Trying to install on my Mac. I successfully installed Boost, Quantlib, and Cython.

When I tried to install Pyql with make build, I got this error message:

[code]

[2014-11-10 16:04] #73 closed, assigned to nobody

[2014-12-23 23:01] ever4cyth opened #75 "PyrexScanner' object has no attribute 'position'"
Cythonizing quantlib/cashflow.pyx
Traceback (most recent call last):
  File "setup.py", line 223, in <module>
    ext_modules = collect_extensions(),
  File "setup.py", line 202, in collect_extensions
    for dirpath in cython_extension_directories
  File "/home/magnolia/python/lib/python2.7/site-packages/Cython-0.19.1-py2.7-linux-x86_64.egg/Cython/Build/Dependencies.py", line 840, in cythonize

[2014-12-27 11:06] #75 closed, assigned to nobody

[2015-02-16 16:24] arthurcolle opened #76 "Euribor positional arguments errors for cds.py and swap.py"
Hi, I just started using QuantLib so maybe its a stretch to try and help improve pyql but I found some errors and wanted some help getting them resolved if thats possible :)

In the cds.py example, this code snippet fails because of the Euribor6M() call, which my compiler is telling me takes in one argument, and looking at euribor.pyx, I see that it takes in a variable called Euribor but what does

[2015-02-16 16:37] dpinte commented on #76
@arthurcolle thanks for reporting the issue. There is an easy fix for this bug. We should expose the empty constructor from the Euribor class ( see ql/indexes/_euribor.pxd). I'll see if I can find a minute to fix it. If you want to give it a try, let me know.

[2015-02-16 17:01] arthurcolle commented on #76
Yes I am free to try at your leisure! I just ran a 'git pull origin master' and the master branch was already up to date so just let me know and I'll try again whenever. Thanks for the prompt response

[2015-02-21 01:04] dpinte commented on #76
There is some work on the fix/bug_76 branch but it revealed some other issue with swap.py example (wrong usage of relinkable handles). I'll try to fix that as soon as possible.

[2015-02-21 01:05] dpinte commented on #66
Closing now that #35 is merged.

[2015-02-21 01:05] #66 closed

[2015-03-18 10:45] JohnSmizz opened #78 "Issues during install"
Hi-
I am trying to install pyQL wrapper but am having trouble just BUILDING the pyQL files.
I installed QuantLib, Boost and successfully ran the QuantLib test file- I compiled using MS Visual Studio 2013 - the release 64bit.
Python is the Anaconda build, incl Cython etc, on a Win7 SP1  64-bit machine.
The setup.py has been amended as follows

    elif sys.platform == 'win32':
    # With MSVC2008,

[2015-03-18 10:58] dpinte commented on #78
@JohnSmizz you will have to switch your configuration on the python side to build using MSVC and not gcc. The easiest way to do it might be to execute your `python setup.py build` inside of the VisualStudio 2013 Command Line which will pre-configure things properly for MSVC to be used by disutils and not gcc.

[2015-03-19 00:34] JohnSmizz commented on #78
Thanks! I ran the command

    python setup.py build --compiler=msvc

out of the 2013 MS VC Express 64Bit prompt and annoyingly get the following error, suggesting that I need to recompile something, just not sure what?

[code]

I have, since my last post, created numerous ENV vars all referencing MS VS 12 (SET VC90COMNTOOLS = ...), so thought I must be getting close to having all necessary applic

[2015-03-19 09:39] dpinte commented on #78
Welcome to the fun of building extension on Windows ;-)

Looking at it, I wonder if it is not an issue with the extra_linker_args in the setup.py. I see `/machine:I386` in the call to the linker which does not sound  correct. Can you try removing it from https://github.com/enthought/pyql/blob/master/setup.py#L97 ?

[2015-03-19 11:30] JohnSmizz commented on #78
Good spot! I removed it and the build ran for a bit longer, just ended with a new error...

Current/ New Error that kills the build process
[code]

Other errors that print but don't seem to be too effectual:

    c:\anaconda3\include\pymath.h(22) : warning C4273: 'round' : inconsistent dll linkage
    C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\INCLUDE\math.h(516) : see previous definit

[2015-03-20 09:21] dpinte commented on #78
@JohnSmizz I guess you haven't patched QuantLib as needed.
See for the details https://github.com/enthought/pyql/blob/master/docs/source/getting_started.rst#installation-from-source-on-windows

[2015-03-26 00:31] dpinte commented on #78
@JohnSmizz any update on your build? If you're stuck I might be able to share some pre-built .dll and .lib.

[2015-03-26 00:32] #68 closed

[2015-03-26 00:33] dpinte commented on #76
@arthurcolle if you want to give a shot at #77 that would be great.

[2015-03-26 20:36] ohmeninea commented on #78
I'm having a similar problem when trying to follow the steps as linked.
First, I could not find a "settings.py" in /ql/, I think it should be "settings.hpp."
When I change the line in "settings.hpp" as described, I get many warnings during build similar to:
[code]

Not sure if it matters, since it still does create a bunch of .obj files in my path:
[code]

But when I try to run the "generate_symbo

[2015-03-26 21:10] arthurcolle commented on #76
Traceback (most recent call last):
  File "swap.py", line 101, in <module>
    for n, unit in swaps.keys() ]
  File "swap.py", line 101, in <listcomp>
    for n, unit in swaps.keys() ]
  File "quantlib/indexes/euribor.pyx", line 41, in quantlib.indexes.euribor.Euribor6M.__init__ (quantlib/indexes/euribor.cpp:2721)
TypeError: __init__() takes exactly 1 positional argument (0 given)

[2015-03-27 10:06] dpinte commented on #78
@JohnSmizz let's do things in order.

First, you need a quantlib dll, you have patched the source, and compiled all the obj files, you should also be able to get a dll as output. Could you give me the error you have when trying to build the dll? The first build of the dll will produce nothing because the def file has not been generated yet.

Second, generating the def file should work fine but you

[2015-03-27 10:12] dpinte commented on #76
Something happened in your compilation step. Are you sure you're on the `fix/example_swap` branch? The fact that you don't have the `quantlib.indexes.euribor` module shows that it was not cythonized and compiled properly.

What platform do you use? This is the output of the swap.py example for me with the fix in place:

[code]

[2015-03-27 19:20] ohmeninea commented on #78
If you do have them available, yes, please provide the x64 .dll, and .lib. (Would I even need the .def if am not building in VS2008 since I would have the .dll and .lib?)

I was missing the mingw64 package. After obtaining this I restarted the process...Below are my exact steps:

_0. Install VS2008 w/ x64 compilers
_1. Install boost_1_57_0-msvc-9.0-64.exe
_2. Unzip QuantLib-1.5.zip
_3. Open QuantL

[2015-03-27 19:21] ohmeninea commented on #78
If you do have them available, yes, please provide the x64 .dll, and .lib. (Would I even need the .def if am not building in VS2008 since I would have the .dll and .lib?)

I was missing the mingw64 package. After obtaining this I restarted the process...Below are my exact steps:

_0. Install VS2008 w/ x64 compilers
_1. Install boost_1_57_0-msvc-9.0-64.exe
_2. Unzip QuantLib-1.5.zip
_3. Open QuantL

[2015-03-27 19:43] dpinte commented on #78
In step _15, you don't need a static .lib. When MSVC builds a dll, it also builds a .lib file which just contains the symbols exposed by the dll. That is the .lib file you must use.

Can you send me mail to dpinte _at_ enthought.com so that I can share the needed files with you?

[2015-03-27 20:16] ohmeninea commented on #78
That was my mistake! I was able to build and install after copying "quantlib.lib" from 'C:\dev\QuantLib-1.5\build\vc90\x64\Release' to 'C:\dev\QuantLib-1.5\lib' and using that instead of the 'QuantLib-vc90-x64-mt.lib' in the setup.py.
Thank you! :smiley: :+1:

[2015-03-28 12:55] dpinte commented on #78
Great! Closing the ticket.

[2015-03-28 12:55] #78 closed

[2015-03-30 20:22] JohnSmizz commented on #78
Hey!
So I am still struggling, but have managed to build and install quantlib via VC10-- it imports successfully via
[code]
but none of the underlyings work, eg:
[code]

The steps I had to take in order to get here
A/ Install a functioning x64 compiler
1/ Install MS VS C++ Express 10
2/ Install SDK 7.1
3/ Install MS VC C++ SP1
4/ Install SP1 Compiler patch KB2519277
B/ ohmeninea's steps 1-14, but

[2015-03-30 23:59] ohmeninea commented on #78
I added C:\dev to my PATH environment variable, and made sure that the QuantLib.dll was in there. Maybe this is it?

[2015-03-31 00:03] ohmeninea commented on #78
I think I had a similar issue when I was trying to get it working--I fixed it by adding "C:\dev" to my PATH environment variable and sticking the "QuantLib.dll" file from "C:\dev\QuantLib-1.5\build\vc90\x64\Release" into it.

I suppose you could also just add "C:\QuantLib-1.5\build\vc100\x64\Release" to your PATH?

Although maybe I am remembering the error/solution incorrectly...

[2015-03-31 08:32] dpinte commented on #78
@JohnSmizz the dll name you should use is the dll name that VS produced. I think you have the correct one. The dll must be on the PATH so that the quantlib package can load it when needed. If it still does not work, I would suggest inspecting the generated `pyd` files with DependencyWalker to see what it depends on.

[2015-03-31 09:19] JohnSmizz commented on #78
Out of desperation I have added about 20 different locations to my path variable and also copied the DLL into lots of different places it shouldnt be. That didn't work.

But Dependency Walker indicates that modules like QUOTES.PYD look for a module called QUANTLIB.DLL. However, as this thing was compiled with VS2010 I think there was never a DLL created that was called QUANTLIB.DLL. , instead only

[2015-03-31 09:46] dpinte commented on #78
@JohnSmizz First, it's great to see you got it working now. Second, the dependency from quotes.pyd to QuantLib.dll was more than likely there because of a previous build. Is that possible? Or did you do a `git clean -xfd` or anything else before doing the last build. You had renamed the QL_LIBRARY variable in `setup.py` and thus could not have a QuantLib.dll referenced from the pyd's.
Last, if you

[2015-03-31 09:47] dpinte commented on #78
@JohnSmizz last comment: it would be great to have your feedback on PyQL vs the SWIG wrappers. Depending on what you plan to do, I guess PyQL will either be great or will require some work to expose things that are not there yet.

[2015-04-07 14:17] JohnSmizz opened #79 "Using quantlib calendar functions kills my python..."
Hi-

I am an amateur Python and pyQL and am having some issues with actually using quantlib's useful in-built date capabilities (including calendars).
The text file with the date functionality doesn't explicitly state how and what to import to make the functions and methods work, so I've been trying to do it myself. In the example I am going to show you all I am trying to do is take today's date,

[2015-04-07 21:30] dpinte commented on #79
@JohnSmizz yes, I can replicate. You found an interesting bug. There was some outdated and incorrect declaration in `calendar.pxd`.  PR is there. Will be merged asap.

Your code should run fine with the following imports:

[code]

or if you prefer not using the api module, you can directly get the UK calendar from `quantlib.time.calendars.united_kingdom` or easy from the `calendar_from_name` funct

[2015-04-07 22:03] #79 closed

[2015-04-08 08:25] #76 closed

[2015-04-15 17:05] dpinte commented on #71
Closing this issue for now. `2.6` is deprecated.

[2015-04-15 17:05] #71 closed

[2015-04-17 13:52] a3arar commented on #78
Hello.. I followed the instructions here and helped me get the pyql package install.  I realized the following and I am not sure if this is normal:
1- The package is included in the *egg file and not standalone
2- When "import quantlib as ql" is initiated I don't see the class item after ".", yet when I call a class from within quantlib, like "import quantlib.cashflow as qlcf", then qlcf will expo

[2015-04-23 18:29] charles-peter opened #85 "generate_symbols"
Hey guys been trying to get PYQL to work on windows for the past day or two. I've been following the getting started guided but have been running into a few issues. I can get QuantLib to build but the only the qunatlib part of the solution. Which I think leads to my main issue, where when I try to start the generate_symbols.py I get the error "WindowsError: [Error 2] system cannot find the file sp

[2015-04-24 07:21] dpinte commented on #85
@charles-peter I guess you haven't installed the mingw package which provides `nm.exe`. I can provide you with the needed dll's and lib file if needed.

[2015-04-24 15:38] charles-peter commented on #85
I downloaded MinGW, and made sure that the nm command was useable by running it in my console right in the quantlib release folder.
I still break at nearly the same point on line 299 in the pydev_monkey.py.
"return getattr(_subprocess, original_name)(appName, patch_arg_str_win(commandLine), *args)"

Is it possible I'm building the objects wrong? I added the declspec(dllexport) to the setting.hpp a

[2015-04-24 16:32] charles-peter commented on #85
So I installed mingw using the installer. I tested it within the console.
-Cd to QuantLib\Build\win32\Release
-nm abcd.obj
Then it spit out a bunch of text that seemed like the contents of the .obj

Also I used pycharm to track down the actual line it broke on and it was line 299 in the pydev_monkey.py
"return getattr(_subprocess, original_name)(appName, patch_arg_str_win(commandLine), *args)"

I

[2015-04-27 00:16] mtrstudio opened #86 "Building issues"
Hi, I followed all the steps in the documents, and I also checked previous issues some other guys may have had, but still I can't build the library correctly,  here's the messages I got from building.

setting.hpp is patched, quantlib is built, def generated, then quantlib built again.
Then I add folders containing .lib, .dll and folders containing .obj to the PATH
I also modified setup.py so that

[2015-04-27 17:43] charles-peter commented on #85
NVM I figured it out. I ended up running the python file from the MinGW directory and that seems to of worked. Hopefully I can get the setup.py working correctly now.

[2015-04-27 17:59] dpinte commented on #86
@mtrstudio multiple things:

1. can you verify that the missing simbol exists in the .def file?
   - `??0Date@QuantLib@@QEAA@XZ`
   - `??0SimpleCashFlow@QuantLib@@QEAA@NAEBVDate@1@@Z`
(are you sure you point to the latest version of the generate .lib file from MSVC?)
2. you're can't build QL with MSC 2012 and planning to use it with Python 2.7. Python 2.7 "can only use" extensions built with MSVC

[2015-04-27 18:01] dpinte commented on #85
Great! closing the ticket.

[2015-04-27 18:01] #85 closed

[2015-04-27 19:36] charles-peter commented on #86
Hey I actually just ran into the same exact error. I compiled QL in Visual Studio 2013 express are you saying I'll need to compile in an older Microsoft compiler?

[2015-04-27 19:38] dpinte commented on #86
@charles-peter yes, you should be either using VS2008 or the free C++ compiler for Python 2.7: http://www.microsoft.com/en-us/download/details.aspx?id=44266

[2015-04-28 16:35] charles-peter opened #87 "32 Bit vs 64 bit"
I'm trying to build my setup.py right and running into a few a issues. From the error I get I think its something with 32vs64 bit compilers. I compiled QL in VC 2008 express which only allowed me to compile in 32. Okay so I lose some speed nbd. But my machine and several other programs I am using are 64 bit. I build the def file with 64 bit MinGW nm. Then when I run the setup.py build with the MS

[2015-04-28 18:45] dpinte commented on #87
@charles-peter Yes, there is some hardcoded flags that need to be tweaked (and/or removed). For example: `/machine:I386` which is for 32bit systems only (https://github.com/enthought/pyql/blob/master/setup.py#L97). I think this is the only one. PR's are welcome.

[2015-04-29 04:31] mtrstudio commented on #86
Hey, indeed I can't find
1. ??0Date@QuantLib@@QEAA@XZ
2. ??0SimpleCashFlow@QuantLib@@QEAA@NAEBVDate@1@@Z
in the .def file (which is of size 42.257K), could it be that something is missing when I generate the .def file. Which object files after building quantlib are responsible for the two symbols?

It seems the .def is not properly generated, I have 288340 lines in .def, subtracting the first two

[2015-04-29 13:11] dpinte commented on #86
Yes, that looks like a .def file generation issue.

I don't have much time right now to dig into the details. You cand find the symbols, .dll and .lib + built library here to compare: https://www.dropbox.com/sh/rul49lx01hxjlua/AACi1kLqD10ff0ALo6vX_zaha?dl=0 That was for QL 1.4. I can try to update it to 1.5 but can't promise anything in the coming days. It should not be an issue though.

[2015-04-30 01:50] mtrstudio commented on #86
Hey thanks a lot~ But exactly the same errors occurred even after using the libs you sent to me. Maybe it really has something to do with the compiler itself.

On the other hand, I noticed, my .def file (I changed to quantlib1.4) is different from yours, so I think there are two possibilities here:
1. the objects files are dependent on the compiler, i.e. msvc2012 and msvc2008 give different object

[2015-04-30 02:06] dpinte commented on #86
Symbols are definitely compiler specific.

! As stated before, you won't get PyQL to run with Python 2.7. if you use msvc2012. It has to be msvc2008 or the MSFT C++ compiler for Python 2.7

[2015-06-05 11:13] Kmanolo opened #95 "Extending PyQL - compile issues"
Hi,

I am having some issues in extending PyQl with libor market model and would appreciate some help. I am trying to add LiborForwardModelProcess from ql/legacy following existing examples like swap_index but I get some uninformative cython compilation errors. My .pyx file is
[code]
whereas the cpp-cython header is
[code]
I am trying to compile this in Ubuntu using Python 2.7 and cython 0.22 but

[2015-06-05 13:39] dpinte commented on #95
@Kmanolo you need to have a type defined for `_thisptr. If not, Cython will consider that as a Python attribute of your class and thus, it will surely not be able to `Cannot convert 'shared_ptr[StochasticProcess] ' to Python object`.

Here is an example of definition of the `_thisptr` with a type: https://github.com/enthought/pyql/blob/master/quantlib/termstructures/default_term_structure.pyx#L8

[2015-06-05 15:31] Kmanolo commented on #95
Hi @dpinte - thanks for getting back, I should have said that I also have the cython declaration file .pxd ( following again the other examples) :
[code]
and it did not work. However moving the definition to the .pyx does the trick! How come this is different than other examples, e.g. heston_process or swap_index ?

Many thanks.

[2015-06-05 16:28] dpinte commented on #95
@Kmanolo it is more than likely a naming issue between your pyx and pxd file.

[2015-09-13 08:34] dpinte opened #99 "Update Readme.md"

[2015-10-01 10:17] dpinte opened #102 "Build issue on Travis-CI"
Appeared with #101

See https://travis-ci.org/enthought/pyql/jobs/83023598
[code]
I can't reproduce on OSX.

[2015-10-21 05:37] dpinte commented on #102
Fixed in #103 (issue with the Cython version). Thanks @phenaff

[2015-10-21 05:37] #102 closed

[2015-10-26 15:21] Kmanolo opened #104 "Build issue"
Hi,
I have downloaded pyql and Quantlib to a new Linux Mint system ( Linux Mint 17.2 cinnamon 64bit).
I am unable to build pyql with errors similar to [103]( https://github.com/enthought/pyql/pull/103).
The quantlib has build fine and I can run the examples fine. Please also note i am using Cython 0.23.4.
Any help is much appreciated,  the error is attached below :

x86_64-linux-gnu-gcc -pthread -

[2015-10-26 15:52] dpinte commented on #104
@Kmanolo This is a known issue. Either you have to downgrade cython to the same version used on master or patch the code to work with the latest Cython.

[2015-10-26 16:00] Kmanolo commented on #104
@dpinte thanks fro your reply. I misunderstood that its ok with Cython > 0.20.  What would I have to patch to get it working with newer Cython ? Sth I missed on the previous issue ?

Many thanks!

[2015-10-26 16:59] dpinte commented on #104
@Kmanolo I haven't had the time to investigate the issue with the newest Cython. It seems the Period vs TimeUnit declarations in the pxd files should be reworked... You should look into `quantlib/time/date.pyx` and `quantlib/time/_date.pxd`

[2015-10-26 17:09] Kmanolo commented on #104
Thanks @dpinte. I'll have a look.

[2015-11-04 18:01] #104 closed

[2015-11-23 09:01] Jakobovski opened #109 "Installation issues OS X 10.10.5"
Thanks for making such an awesome library.

I am having some issues with installing the library on OS X 10.10.5. The make completes successfully, but many tests fail with

`failed to import test module: quantlib...`

Any ideas on how to fix or troubleshoot the issue?

[2015-11-23 13:18] dpinte commented on #109
@Jakobovski  Could you give some exact output of what you exactly do? + the dependencies you used (version of QL, boost, python, ...)

[2015-11-29 12:55] Jakobovski opened #110 "Some tests failing on Ubuntu install."
Hi,

I installed pyql according to the instructions on a Ubuntu machine. Nearly all of the tests passed except for a few. See below.

Any ideas on how I can fix this?

Thanks!

[code]

[2015-11-30 09:31] dpinte commented on #110
@Jakobovski The RuntimeError is a translation of a C++ exception. What version of Quantlib do you use?

[2015-11-30 09:53] Jakobovski commented on #110
Thanks for the fast response. I reinstalled pyql and now all tests are passing. Another issue came up though :(.  I will close this issues and make a new one.

[2015-11-30 09:53] #110 closed

[2015-11-30 09:53] Jakobovski commented on #109
I ended up just installing it on a Ubuntu VM.

[2015-11-30 09:53] #109 closed

[2015-11-30 10:17] #95 closed

[2015-12-13 08:25] smallnamespace opened #111 "Test Failures on OS X"
Here are the errors I'm seeing:

[code]

The pandas issue seems to be because ```pandas.core.common.load``` was deprecated or removed in 0.17.

As for quantlib, I'm using a fresh build against quantlib HEAD as of today. Everything is compiled using clang against libstdc++ on El Capitan.

[2015-12-13 21:20] dpinte commented on #111
What version of QL do you use? I suspect that is the issue with the RuntimeError.

[2015-12-14 00:26] smallnamespace commented on #111
Is HEAD not supported?

[2015-12-14 09:12] dpinte commented on #111
@smallnamespace it seems it's not ;-) QL 1.4 without a doubt. I think that is what we use on Travis-CI. PR's are welcome to update to the latest releases. Looking at the errors, it should not be a big deal.

[2015-12-14 18:53] smallnamespace commented on #111
@dpinte OK, thanks for clarifying. I might look into fixing the tests at some point -- right now am just getting started with using PyQL.

By the way, it might be worthwhile to update the docs, as they [currently](http://pyql.readthedocs.org/en/latest/getting_started.html#building-and-installing-pyql) clearly state that more recent versions are supported. Noting the last well-tested dependency ver

[2015-12-14 21:47] dpinte commented on #111
@smallnamespace agreed. Will try to do it asap. There is a bit of cleanup that needs to be done on the doc, requirements, etc.

[2015-12-21 18:41] smallnamespace opened #112 "Work on overloaded Constructors?"
A lot of QL classes have overloaded constructors, e.g. `FixedRateBond`, [`Schedule`](http://quantlib.org/reference/class_quant_lib_1_1_schedule.html), etc. It seems like PyQL went down the route of exposing the simplest constructor, but sometimes I have the need for the more generic version (e.g. for `Schedule`, I want to define cashflows on specific dates rather than the default start, end, tenor

[2015-12-21 23:26] smallnamespace commented on #111
@dpinte
The errors in the schedule test seem genuine, filed with upstream at https://github.com/lballabio/QuantLib/issues/28

[2015-12-22 11:14] dpinte commented on #112
@smallnamespace when needed, we have been using classmethods to do the dispatching to the appropriate C++ constructor. It is not a clear policy over the library so far but we should more than likely go that route.

One example: https://github.com/enthought/pyql/blob/master/quantlib/termstructures/yields/rate_helpers.pyx#L118

[2015-12-22 23:45] smallnamespace commented on #112
@dpinte It looks like QL has a [MakeSchedule](http://quantlib.org/reference/class_quant_lib_1_1_make_schedule.html) helper class, but it 1) doesn't really fulfill a need in Python and 2) doesn't expose the `vector<Date>` parameter.

Would you prefer:
1. An additional `@classmethod` on the Cython `Schedule` class
2. A backwards-compatible change to the `__init__` method (add `dates` to the end of t

[2015-12-23 09:00] dpinte commented on #112
@smallnamespace I would suggest going for a `classmethod`.

[2015-12-23 22:55] smallnamespace commented on #112
@dpinte Thanks for the feedback, PR at https://github.com/enthought/pyql/pull/113

[2015-12-27 13:22] #112 closed

[2016-01-27 13:08] hmarrao opened #116 "make_zero_coupon.py not working out of the box!"
to make it work had to perform the following changes which I don't know if they are fully valid:

diff --git a/examples/make_zero_coupon.py b/examples/make_zero_coupon.py
index 6004ffb..2d72510 100644
--- a/examples/make_zero_coupon.py
+++ b/examples/make_zero_coupon.py
@@ -15,14 +15,13 @@ from __future__ import print_function

 from quantlib.settings import Settings
 from quantlib.termstructures.

[2016-01-27 13:20] dpinte commented on #116
@hmarrao thanks! If you could submit the patch in a pull request, I'll be happy to merge it! The examples are not always kept in sync with the code. Thanks for the cleanup.

[2016-01-27 13:51] hmarrao opened #117 "data/df_rates.pkl and data/df_calibration_output_heston.pkl are missing"
can't execute the calibrate_heston.py ... data/df_rates.pkl ...
Where can I find it¿?

same for data/df_calibration_output_heston.pkl

[2016-01-27 13:57] dpinte commented on #117
@hmarrao one of the script is generating the pkl file IIRC. @phenaff can you help?

[2016-01-27 14:22] hmarrao commented on #116
I'm testing all  available examples and notebooks.
I will "pull request" all fixes that I can manage to perform!

[2016-02-13 16:55] phenaff commented on #116
It now works in the pull request "stovol", but ....

$ ipython examples/scripts/make_zero_coupon.py
works fine, but

$ python examples/scripts/make_zero_coupon.py
raises an error about quantlib.currency.api module not found! Not sure why, this api is used all over the place.

[2016-02-16 20:33] ceaza commented on #78
Thanks to @dpinte, @JohnSmizz and especially @ohmeninea seems I have managed to compile and install PyQL on winpython 3.5 using QuantLib 1.7.1 x64 win7 with Visual Studio Community 2015. Now to wrap CPIBond and CPISwap.

[2016-03-03 00:29] david-wolf opened #120 "1.7.x Compatibility?"
Will this work with 1.7.x?  Getting a bunch of warnings during DLL compilation process.

[2016-03-03 00:46] dpinte commented on #120
@david-wolf it should work fine as 1.7 did not had major changes. If you can repot specific warnings or errors, that would help.

[2016-03-03 01:07] david-wolf commented on #120
Seeing this when trying to run python setup.pl build.

inv6.3\um\x86" "/LIBPATH:C:\Program Files\Boost\boost_1_60_0\lib64-msvc-14.0" "/LIBPATH:C:\Program Files\QuantLib\lib" QuantLib-vc140-x64-mt.lib /EXPORT:PyInit_cashflow build\temp.win-amd64-3.5\Release\quantlib\cashflow.obj /OUT:build\lib.win-amd64-3.5\quantlib\cashflow.cp35-win_amd64.pyd /IMPLIB:build\temp.win-amd64-3.5\Release\quantlib\cashf

[2016-03-03 01:08] david-wolf commented on #120
The date class had these warnings about exporting the interface.

pp(112): warning C4251: 'QuantLib::Settings::evaluationDate_': class 'QuantLib::Settings::DateProxy' needs to have dll-interface to be used by clients of class 'QuantLib::Settings' (compiling source file ql\experimental\finitedifferences\fdklugeextouspreadengine.cpp)
1>  C:\Program Files\QuantLib\ql/settings.hpp(42): note: see decla

[2016-03-03 01:29] david-wolf commented on #120
I think my current build issues are related to not having NM installed.  Do I need cygwin for this?

[2016-03-03 02:37] david-wolf commented on #120
Here are the results of the unit test.  A lot of errors!

[test_results.txt](https://github.com/enthought/pyql/files/156067/test_results.txt)

[2016-03-03 03:15] david-wolf commented on #120
FAILED (failures=4, errors=1, skipped=1)

[test_results.txt](https://github.com/enthought/pyql/files/156110/test_results.txt)

[2016-03-03 05:28] david-wolf commented on #120
Fixed the error in the test case.  Warnings but it passed.  Would like to know reason for the failures.

[test_results.txt](https://github.com/enthought/pyql/files/156206/test_results.txt)

[2016-03-03 05:32] david-wolf commented on #64
I am seeing this on x64 as well.  This was opened in 2014 are there any plans to fix this?

[2016-03-03 09:52] dpinte commented on #64
@david-wolf there are not short term plans but we would gladly accept patches!

[2016-03-03 10:59] dpinte commented on #120
I'll look into the details. From a quick review, can you confirm you build the QL DLL as explained in the doc? In particular the point 1 in this section https://github.com/enthought/pyql/blob/master/docs/source/getting_started.rst#installation-from-source-on-windows

[2016-03-03 14:02] david-wolf commented on #120
Yes I did. Those steps seem to guarantee that if followed correctly the program will run - not its program correctness.

I had some issues initially with the DEF file which prevented compilation but I went back and fixed that.

[2016-03-03 14:04] david-wolf commented on #120
Note I used QL 1.7.1, MSVC 14 and Anaconda latest version with Python 3.5.

[2016-03-03 15:28] david-wolf commented on #120
Full build output.
[build_output.txt](https://github.com/enthought/pyql/files/157056/build_output.txt)

[2016-03-04 22:09] scotthounsell commented on #78
Hi @dpinte,

I have been struggling with similar issues to JohnSmizz when building.  I removed machine:I386 as suggested above and am running from the Visual C++ 32-bit Command Prompt, but I receive a new error.  (I patched the settings.hpp file, at the start.)

Thanks in advance for any help that you can provide.

[code]

[2016-03-09 13:19] ceaza commented on #78
When I try to compile with winpython 2.7.10.3 I get the following error on x64 visual studio 2015:

`build\lib.win-amd64-2.7\quantlib\test\test_cython_bug.pyd : fatal error LNK1169: one or more multiply defined symbols found amd64\\link.exe' failed with exit status 1169`

[2016-03-17 09:14] ceaza opened #121 "Expose CPIBond class"
CPI bonds normally form a key part of many fixed income portfolios.

[https://github.com/lballabio/QuantLib/blob/master/ql/instruments/bonds/cpibond.cpp](url)

[2016-03-17 09:16] ceaza opened #122 "Expose CPISwap class"
The following class should also be exposed:

https://github.com/lballabio/QuantLib/blob/master/ql/instruments/cpiswap.cpp

[2016-03-17 10:39] dpinte commented on #120
Thanks @dave-fl for the report. I'll investigate asap.

[2016-03-18 09:01] bigtan commented on #120
[build_output.txt](https://github.com/enthought/pyql/files/179308/build_output.txt)

I got the similar output as @dave-fl, But I failed the comiling. The error log is listed in the txt file.

I used the nm from the mingw, maybe this the reason, or I should try cygwin?

[2016-03-18 10:33] dpinte commented on #120
I think we should investigate  the https://github.com/enthought/pyql/blob/master/scripts/generate_symbols.py and check if it does its job correctly. It has been designed on Python 2.7 and known to work with Python 3.3. Python 3.5. is using a new Visual Studio version that might do things in a different way ...

[2016-03-18 13:34] dave-fl commented on #120
I used cygwin.  Took a while to get the build going and then we had failed unit test cases.

[2016-03-18 14:25] bigtan commented on #120
Hi @dpinte I use Python27 and vs2015, the .def file generated is just about 15mb. So I agree with you, Maybe something wrong with https://github.com/enthought/pyql/blob/master/scripts/generate_symbols.py

[2016-03-18 14:47] ceaza commented on #120
H  @bigtan , it may be something to do with fact that Python27 is compiled using vs2008, and you are using vs2015. I can compile PyQl on WinPython3.5 but not on Python2.7 and I think this was my 2.7 issue. See   [https://blog.ionelmc.ro/2014/12/21/compiling-python-extensions-on-windows/].

So while I don't have much experience in this, all downstream module would also need to be compiled in vs2008

[2016-03-18 15:03] bigtan commented on #120
@ceaza I will try it on my laptop, and give the feedback here.

[2016-03-18 15:41] dpinte commented on #120
@bigtan I confirme what @ceaza says. You must use the compatible MSVC version for the target Python. Python 2.7 means MSVC 2008.

[2016-03-18 15:48] dpinte commented on #120
@bigtan another comment: it is expected that the def file is a big file...

[2016-03-18 16:23] bigtan commented on #120
@dpinte I have finished the compiling for python 35 with MSVC2015, it works well.
I am now trying to compiling it for python 27 with MSVC2008

[2016-03-22 06:58] ceaza commented on #121
@dpinte what tools would one use to do this?

[2016-03-22 08:53] dpinte commented on #121
@ceaza you would need to write the same kind of cython wrappers as we did for the various instruments that are exposed through pyql. For example here are the standard bonds: https://github.com/enthought/pyql/blob/master/quantlib/instruments/bonds.pyx

[2016-03-22 08:58] ceaza commented on #121
And the type of tools you used to make sure it all works. For example would
one have to put the wrappers together, then compile using print statements
for error tracking or are there better ways of doing this through an IDE?

On Tue, Mar 22, 2016 at 10:53 AM, Didrik Pinte <notifications@github.com>
wrote:

[2016-03-22 10:02] dpinte commented on #121
@ceaza you'll definitely need an IDE. Using print statements for error tracking is not the best way to do things. PyQL has a decent test suite and you would test your developments by implementing a suite of tests that cover the new code you're writing.

On what platform are you? The compilation steps are quite simple as Python does most of it for you byt you'll need a local development version of

[2016-03-22 10:19] ceaza commented on #121
I could use either platform, but at work on Windows. Agreed print
statements would be very tedious, hence the question. So which IDE will
interpret  .pxd and .pyx cython files? PyCharm perhaps or is there a plugin
for spyder? I now see the tests in pyql/quantlib/test/.

On Tue, Mar 22, 2016 at 12:02 PM, Didrik Pinte <notifications@github.com>
wrote:

[2016-03-22 10:27] dpinte commented on #121
Pycharm will work fine. Spyder too. You'll probably have to play with the command line for the compilation steps. Windows is the hardest platform as it requires a custom build of QuantLib to run properly. I can provide pre-built dll's for some versions of QL if you want. Also, depending on your Python version, the MSVC compiler you must use is different (MSVC2008 for Python 2.7, 2010 for < 3.5 and

[2016-03-22 10:31] dpinte commented on #121
@ceaza feel free to contact me by e-mail if you need more technical details.

[2016-04-05 20:10] dave-fl commented on #120
Is this active at all?

[2016-04-06 06:02] dpinte commented on #120
@dave-fl I don't have much bandwidth at the moment. If you have some pressing needs and want to consider other options than contributor's free time, ping me by e-mail.

[2016-04-08 23:08] phenaff commented on #61
The issue was fixed in #118 by restructuring the examples. See stovol_calibration.py in examples/scripts.

[2016-04-11 08:43] #61 closed

[2016-07-30 17:12] ianyunxiong opened #156 "pyql building issue / Cannot assign type 'vector[Rate]' to 'vector[double]'"
When I used boost 1.60, quantlib 1.8, and Cython 0.24 to build the latest pyql on windows 10 x64, I had the following error message:

[code]

could anyone help me, please? many thanks in advance!

[2016-07-30 18:31] ianyunxiong opened #157 "typo in docs: /getting started/Installation from source on Windows/Patch ql/settings.py"
in the docs :

getting started
Installation from source on Windows
v. Patch ql/settings.py

should be ql/settings.hpp

there are ql/settings.hpp and ql/settings.cpp while ql/settings.py does not exist.

[2016-08-02 17:02] thrasibule commented on #156
I can't reproduce this on linux, so I'll try to setup a windows  environment and see if I can reproduce. In the mean time, try to insert <vector[double]> before hazard_rate. But Rate and double should be equivalent based (see typedef in types.pxi), so I'm not sure what's going on.

[2016-08-03 09:34] #157 closed

[2016-08-03 17:11] ianyunxiong commented on #156
in interpolated_hazardrate_curve.pyx i changed 'vector[Rate]' into 'vector[double]' then it works.

[2016-08-09 13:35] thrasibule commented on #156
I wonder if this was fixed in cython 0.24.1. I see this in the changelog: ``Assignments between identical C++ types that were declared with differently typedefed template types could fail`` which seems related.

[2016-08-25 14:02] phenaff opened #159 "test_cds error"
This may be stale code... module enum no longer exists.
Python 2.7.3 / QuanLib 1.8 / Cython 0.24.1

======================================================================
ERROR: quantlib.test.test_cds (unittest.loader.ModuleImportFailure)
----------------------------------------------------------------------
ImportError: Failed to import test module: quantlib.test.test_cds
Traceback (most recent c

[2016-08-28 07:23] thrasibule commented on #159
Do you have enum34 installed? It should work fine with it. I have added it to requirements.txt as well, so pip should pull it as a dependency.

[2016-08-28 12:12] phenaff commented on #159
My bad, thanks for the info, all is well (QuantLib 1.8 / Cython 0.24.1)

[2016-08-28 12:12] #159 closed

[2016-09-10 17:38] ceaza commented on #156
@thrasibule had the issue on linux, upgraded to cython 0.24.1 and build now works.

[2016-09-12 07:36] dhirschfeld opened #161 "Test failures"
I've just built pyql with boost 1.61 and QL master on Win64 and am seeing the below errors:
[code]
Are these something to be worried about?

I see that 2 of them have already been reported in #64.

Is `test_bond_schedule_anotherday_bug_cython_implementation` a knownfail - the name is certainly suggestive but there are no other comments which would allow me to deduce what the problem is. It looks l

[2016-09-12 07:41] dpinte commented on #161
@dhirschfeld  `test_bond_schedule_anotherday_bug_cython_implementation` means you're missing the patch on the QL source. It is required to make sure the singleton works properly when the C++ code is linked with `pyql`.

See https://github.com/enthought/pyql/blob/master/docs/source/getting_started.rst#installation-from-source-on-windows

[2016-09-12 07:44] dhirschfeld commented on #161
The below patch?
[code]
I'm sure I applied that!

[2016-09-12 07:44] dpinte commented on #156
@ceaza thanks, we'll document that cython 0.24.1 is the required cython version!

[2016-09-12 07:56] dpinte commented on #161
Keep me updated. Having working windows builds is important for the project!

[2016-09-13 07:54] dhirschfeld commented on #161
I've had no joy unfortunately. I've patched `settings.hpp` as above, have recompiled twice and still get the same errors as above.

When compiling QuantLib I do get hundreds of the below warnings repeated - is that normal?
[code]

[2016-09-13 10:15] dpinte commented on #161
@dhirschfeld which version of VStudio do you use?

[2016-09-13 10:16] dhirschfeld commented on #161
2015 Enterprise

[2016-09-13 10:19] dpinte commented on #161
@dhirschfeld regarding the warnings, I think it should be safe as we don't access directly the attributes that are not exposed to the dll.

I will need to take the time to do a build and see if I can reproduce the issue. The latest builds I made where for Python 2 and thus using VS2008. I can't promise anything but will try to do it asap.

[2016-09-13 10:50] dhirschfeld commented on #161
Thanks @dpinte for looking into it. I'd be very interested to know if it's just me or if it doesn't build correctly for py3/win64. I'm happy to help / test / provide any  assistance I can but I think I'm a little out of my depth.

[2016-09-13 10:54] dpinte commented on #161
@dhirschfeld can you let me know which py3 version you use? That will help making sure we're testing exactly the same things

[2016-09-13 10:58] dhirschfeld commented on #161
In case it's of interest I also tried a QuantLib build with CMake using the [`CMAKE_WINDOWS_EXPORT_ALL_SYMBOLS`](https://cmake.org/cmake/help/v3.4/prop_tgt/WINDOWS_EXPORT_ALL_SYMBOLS.html) flag.

I managed to compile pyql against it but had large numbers of failures. I believe I removed the `__declspec(dllexport)` from [`pyql`](https://github.com/enthought/pyql/blob/master/cpp_layer/settings.hpp#L

[2016-09-13 11:04] dhirschfeld commented on #161
[code]
![image](https://cloud.githubusercontent.com/assets/881019/18471515/ab323d88-79f5-11e6-9784-ddc28cb25a71.png)

[2016-09-13 11:44] dpinte commented on #161
@dhirschfeld thanks a lot for all the information, that will be really useful. What I'll probably do is making sure we have available QuantLib dll's for the standard Python versions that `pyql` can download (in place of losing time building it ;-)).

[2016-09-13 23:20] dhirschfeld commented on #161
That would be fantastic. Let me know if you get it compiled for py3 - I'd be very keen to test it out!

[2016-09-17 13:07] dpinte commented on #161
@dhirschfeld I can reproduce the issue (py3/win32). Which boost version do you use? The issue is again the problem of the Setting singleton that does not seem to be shared properly between the pyd's.

[2016-09-17 15:36] dhirschfeld commented on #161
That was 1.61 IIRC

[2016-10-05 17:50] Zhaosunday opened #162 "test a examples file failed"
first of all, my English is not good. sry about that.
i just build pyql using boost 1.62 and quantlib 1.8 on pyql-master. my platform is ubuntu 16
after I try a file called traits_example.py in examples directory
""" Simple example pricing a European option using a Black&Scholes Merton process."""
import datetime
from traits.api import HasTraits, Enum, Float, Date, Property, Range
from traitsui.ap

[2016-10-06 07:55] dpinte commented on #162
@Zhaosunday did you install the library after building it?

[2016-10-06 21:36] Zhaosunday commented on #162
@dpinte yeah I have installed it,There is "sudo make install" in guide so I won't miss it.
And it's not every Quantlib module not working, like I said  " other file such as american_opion.py,  bonds.py in examples works well".
btw I have tried reinstall 4 times, not working.

[2016-10-19 02:16] Zhaosunday commented on #162
I have fixed the problem, never mind

[2016-11-08 10:30] #162 closed

[2016-11-08 10:32] #117 closed

[2016-11-16 16:25] #156 closed

[2016-12-07 07:04] tangent360 opened #169 "Calls to CreditDefaultSwap.fair_upfront crash Python"
Hey,

I attempted to modify pyql/examples/cds.py to get it working with the latest version of the library. I'm new to pyql and Quantlib so I may well have made an error but all the tests seem to execute fine. However, when I tried to call fair_upfront it crashes Python (The function is not called by any of the pyql examples but I saw it in the Quantlib docs and I see it listed as a property in ins

[2016-12-07 19:25] thrasibule commented on #169
fair_upfront throws unless you build a cds with upfront which you can't do right now with pyql (See https://github.com/thrasibule/QuantLib/blob/master/ql/instruments/creditdefaultswap.cpp#L179). Now we should raise an exception in python instead of aborting.
You can check my branch [upfront_lite](https://github.com/thrasibule/pyql/tree/upfront_lite) which has this fix and also a class for building

[2016-12-09 04:40] tangent360 commented on #169
Thank you for this, it's very helpful.  Apologies in advance because this would be much more straightforward if I had a good working knowledge of quantlib.

After looking through the quantlib code I did notice that fairSpread() "does not take any upfront into account, even if one was given", which rules out my intended use for specifying an upfront in the first place - i.e. as way to back out the

[2016-12-09 13:42] dpinte commented on #169
@tangent360 thanks for your detailed notes. The best for debugging such issue is to provide a minimal script that reproduces the bug. Is this something you could share?

I suspect we do have a c++ exception raised that we don't manage properly in pyql and that the fix should be quick and easy to implement (adding some `except+` in the cython layer).

[2016-12-09 16:39] thrasibule commented on #169
You're right, if you want to get the upfront equivalent, you can just look at the npv of the cds.
I've updated my branch upfront_lite to catch a few more exceptions , so it should bomb a lot less now, let me know if you can trigger other segfaults. It would be helpful if you have some example code written. We can turn it into tests, and I can propose it for merging if the code is helpful to you.
T

[2016-12-09 18:50] tangent360 commented on #169
Thank you both for the responses.
I've pasted an example script below that should generate the errors I'm seeing.
I've also pasted my output when I run it so that you can see what I'm getting.
@thrasibule I'd be more than happy to try and get things going on the quantlib CDS updates but I fear the only value I can provide is motivation!   What's the best way to see what's missing? Just read throug

[2016-12-09 19:10] thrasibule commented on #169
I've tried your script. It runs fine for me with my latest branch if I replace exec_info by exc_info (there is a typo there), and it catches the runtime exception. However it shows the same upfront as before, since obviously the cds is not updated. Are you positive  you can build a cds with these parameters in C++? Can you share that C++ code as well if that's the case?

[2016-12-09 21:28] tangent360 commented on #169
I was missing a second boolean value in the argument list to `CreditDefaultSwap.from_upfront` so I was advancing the protection start date when I thought I was advancing the upfront date. The error coming back was 'protection cannot start before accrual date' but since it was crashing Python, before @thrasibule's latest update, I wasn't aware of the argument problem. Separately, I was reusing the

[2016-12-13 20:31] #169 closed

[2017-04-29 23:46] aforgio opened #187 "def file generation"
Hi everybody,

I'm new in Python and in QuantLib too. I would to install PyQL on a Windows machine, so I have set up the boost  using Visual Studio and I have done the first built of the QL project and I've also patched the generate_symbols.py file. Please, can someone tell me how to generate a def file (and what is it)?

Thank you very much

[2017-05-16 18:45] WarShoe opened #188 "Test results with QuantLib 1.10"
Here I share the results of pqyl+Quantlib1.10 `python setup.py test` run:

Errors:

[2017-05-19 12:09] #188 closed

[2017-05-23 08:04] #52 closed

[2017-09-27 22:49] WarShoe opened #200 "compilation error"
GCC 7.2.0
QuantLib-1.10.0
Cython version 0.25.2

Steps to reproduce: setup environment (pathes to QuantLib, modify pyql:setup.py, etc) and run `make build`

`quantlib/settings.cpp: In function ‘PyObject* PyInit_settings()’:
quantlib/settings.cpp:1791:37: error: ‘QL_HIGH_RESOLUTION_DATE’ was not declared in this scope
   __pyx_t_2 = __Pyx_PyBool_FromLong(QL_HIGH_RESOLUTION_DATE); if (unlikely(!__py

[2017-09-28 16:12] thrasibule commented on #200
Does your install of quantlib have high resolution date? built with --enable-intraday?

[2017-09-28 16:19] WarShoe commented on #200
I think the answer is NO, because in the config file I have lines:
[code]

[2017-09-28 16:28] thrasibule commented on #200
Ok, I guess we need to handle this case gracefully. The fix for now is to either use a quantlib compiled with --enable-intraday or use this commit: 5394649b09f08a7f0b7e239782e5b1de8e641f2c which was before it was introduced.

[2017-10-06 06:17] happynothing commented on #187
I think you can't do that! because the script uses "nm" command which is only in linux.
I don't know how they can pass the test!

[2017-11-07 00:02] rspadim opened #201 "Problem with Python examples - american_option"
Hi guys, i compiled the quallib and pyql from source, i'm trying to execute the first example notebook (american_option) but my output is:

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-b50cbb45b989> in <module>()
      8 """
      9 from __future__ import print_function
--->

[2017-11-07 00:02] rspadim commented on #201
python3 --version
Python 3.5.2

ubuntu 16.04 - intel i7 machine

[2017-11-07 07:08] dpinte commented on #201
@rspadim you've used the flag `--enable-sessions` which requires you to provide a `sessionId` function in the namespace `QuantLib`. This is not done by pyql and likely the cause of your undefined symbol

See https://github.com/lballabio/QuantLib/blob/master/ql/userconfig.hpp#L67 for more details:
[code]

[2017-11-07 07:08] #201 closed

[2017-11-07 16:18] rspadim commented on #201
Nice, thanks @dpinte !

[2017-11-08 16:20] rspadim opened #202 "testing pyql - errors"
Hi guys, i'm testing notebooks files, and i found some problems, i will report while i'm testing..

at "CVA computation.ipynb", ~ In[8]:

#swap 1 definition
maturity = Date(26, 12, 2018)
fixed_schedule = Schedule.from_rule(start_date, maturity, Period("6M"), TARGET(),
                                    ModifiedFollowing, ModifiedFollowing, Forward,
                                    False)
float

[2017-11-08 16:23] rspadim commented on #202
at "Download_USD_LIBOR.ipynb"

save don't exists, now pandas use to_pickle() at last line:

df_libor_good.to_pickle(os.path.join('..', 'data', 'df_libor.pkl'))

[2017-11-08 16:35] rspadim commented on #202
at "heston_calibration.ipynb"

ImportError                               Traceback (most recent call last)
<ipython-input-1-997c71aaa693> in <module>()
      4 import datetime
      5
----> 6 from quantlib.models.equity.heston_model import (
      7     HestonModelHelper, HestonModel, ImpliedVolError)
      8

ImportError: cannot import name 'ImpliedVolError'

[2017-11-13 21:29] #202 closed

[2017-12-21 16:57] yunjianyang commented on #187
Exactly.... Finally I figured out there is no "nm" on windows... No idea how they pass the test...

[2018-01-30 19:45] phenaff opened #209 "Odd issue with Period"
A fresh build of QuantLib & pyql gives me this odd error:
[code]
returns an int!

[code]
My setup:
Ubuntu 14.04
Cython 0.27.3
QuantLib-1.11.0 compiled with --enable-intraday
Python 2.7

Obviously, there is something wrong with my build. Would anyone have an hint on what's going on?
Thanks in advance

[2018-01-30 20:37] thrasibule commented on #209
Months is an enum, so it converts to an int. It's the same in C++. Did this ever work in python? This work on the other hand:

[code]

[2018-01-31 13:36] #209 closed

[2018-01-31 14:45] thrasibule commented on #209
Test is running fine here on python 3.6 (and travis passes both on python 2.7 and python 3.4, so that's a lot of configurations) Which line specifically is causing the segfault? Are you sure this is the cause? We should fix the test regardless.

[2018-01-31 16:07] phenaff commented on #209
I have submitted a PR that fixes the tests. I still get a segfault on my PC, but not sure anymore where it's coming from. I'll investigate, probably some config issue on my side.

[2018-03-01 06:54] pedromartins4 opened #220 "Cython error + compilation error"
[code]

[code]

`Python 3.6.4`

MacOs latest version.

I first tried to `python3 setup.py install` with HEAD, failed with [this error](https://pastebin.com/ELEJrh6M).

Then I tried with [this commit](https://github.com/enthought/pyql/commit/5394649b09f08a7f0b7e239782e5b1de8e641f2c) (got the idea from this [Issue](https://github.com/enthought/pyql/issues/200)), and got the following [output](https:

[2018-03-03 19:10] thrasibule commented on #220
This should have been fixed with commit 80e8612703049d871b02f729fa392539cfb9d4ce. Let us know if you still have the issue with master.

[2018-04-15 21:39] michaelnowotny opened #229 "Compilation Error on MacOS High Sierra"
Dear pyql developers,

I am experiencing the following compilation error on my platform:
----------------------------------------------------------------
quantlib/time/date.cpp:1722:80: error: no type named 'Hour' in namespace
      'QuantLib'
  ...PyObject* __Pyx_PyInt_From_QuantLib_3a__3a_Hour(QuantLib::Hour value);
[code]

[2018-04-17 14:05] thrasibule commented on #229
It's probably a missing path issue somewhere in setup.py. In date.cpp do you have a line saying #include "ql/time/date.hpp" ?
And what's the compiler command used to compile date.cpp? If it contains -I/usr/local/include this should compile fine.

[2018-04-17 17:38] michaelnowotny commented on #229
Yes, on line 620 in date.cpp, I have the following include:
#include "ql/time/date.hpp"

The compiler command is as follows (from a different machine with MacOS on which I get the same error):
building 'quantlib.time.date' extension
gcc -Wno-unused-result -Wsign-compare -Wunreachable-code -DNDEBUG -g -fwrapv -O3 -Wall -I/Users/michaelnowotny/anaconda/include -arch x86_64 -I/Users/michaelnowotny/an

[2018-04-17 17:48] dpinte commented on #229
Any chance that you haven't defined `QL_HIGH_RESOLUTION_DATE` ? That would explain why the intraday part of the dates are not defined.

[2018-04-17 20:35] thrasibule commented on #229
@dpinte is right of course, this must be the issue. You need to configure quantlib with --enable-intraday, same as issue #200

[2018-04-17 21:06] michaelnowotny commented on #229
Thank you very much for your advice @thrasibule and @dpinte!

I had indeed not defined this option. The name of the option in homebrew is "--with-intraday" (rather than "--enable-intraday") and this enables QL_HIGH_RESOLUTION_DATE. The compilation goes through, but when running the unit tests via
    "make tests3" or "make tests"
I get a segmentation fault:

python -m unittest discover -v
make: **

[2018-04-17 21:08] michaelnowotny commented on #229
BTW: I am getting these clang warnings when compiling pyql:

clang: warning: libstdc++ is deprecated; move to libc++ with a minimum deployment target of OS X 10.9 [-Wdeprecated]
ld: warning: object file (build/temp.macosx-10.7-x86_64-3.6/quantlib/time_series.o) was built for newer OSX version (10.7) than being linked (10.6)

[2018-04-17 21:17] thrasibule commented on #229
The segfaults happens right away?? no tests at all go through?
From the directory you compiled pyql can you import quantlib at least? For instance try something like that.
[code]

[2018-04-18 00:36] michaelnowotny commented on #229
If I run the code above in the Python interpreter, I get the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: dlopen(/Volumes/GIT/pyql/quantlib/time/date.cpython-36m-darwin.so, 2): Symbol not found: __ZN8QuantLib10DateParser14parseFormattedERKSsS2_
  Referenced from: /Volumes/GIT/pyql/quantlib/time/date.cpython-36m-darwin.so
  Expected in: fla

[2018-04-18 02:10] michaelnowotny commented on #229
Ok, unit tests are running on the third Mac that does not use Anaconda. I am getting the same clang warnings:

clang: warning: libstdc++ is deprecated; move to libc++ with a minimum deployment target of OS X 10.9 [-Wdeprecated]
ld: warning: object file (build/temp.macosx-10.13-x86_64-3.6/quantlib/time/calendars/united_states.o) was built for newer OSX version (10.13) than being linked (10.6)

So t

[2018-04-18 02:12] michaelnowotny commented on #229
A few unit tests are failing but this is likely not connected:

======================================================================
ERROR: test_zero_rate (quantlib.test.test_mlab.MLabTestCase)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/Volumes/GIT/pyql/quantlib/test/test_mlab.py", line 198, in test_zero_rate
    maturity_da

[2018-04-18 10:37] dpinte commented on #229
@michaelnowotny do you know how brew build quantlib? You need to make sure it has been built with `-stdlib=libc++ -mmacosx-version-min=10.9` (see http://www.quantlib.org/install/macosx.shtml) and same when building pyql.

This message seem to indicate it's not the case:
[code]

[2018-04-19 01:38] michaelnowotny commented on #229
Hi @dpinte,

 I do not know specifically know how quantlib is built in homebrew. The clang error message appears on all three macs I have tried it, including the one where everything works. The issue seems to be related to Anaconda. The issue appears on both computers which use Anaconda.

Furthermore, I have uninstalled Anaconda on one of the Macs and installed Python via hombrew. After that every

[2018-04-19 02:16] michaelnowotny commented on #229
Installed Anaconda again from scratch and the segmentation fault reappears. This is very likely an issue with Anaconda on the Mac.

[2018-04-19 07:36] dpinte commented on #229
@MichaelConnell I can suggest using edm which is known to work as expected (https://www.enthought.com/product/enthought-deployment-manager).

[2018-04-19 07:37] dpinte commented on #229
@michaelnowotny I can suggest using edm which is known to work as expected (https://www.enthought.com/product/enthought-deployment-manager).

[2018-04-20 22:11] michaelnowotny commented on #229
Thank you @dpinte. I will take a closer look. It is currently not clear to me if this will work with Anaconda or is an alternative to Anaconda. For the time being, I can simply keep using hombrew on Mac.

Thanks again for your help!

[2018-07-05 16:01] RayVR opened #237 "Cython version issue"
It looks like currency.pyx uses __eq__ method, which was introduced in cython 0.27. The docs state the minimum required version for cython is 0.24.1.

If a later version of cython is not necessary it would be great to implement the __eq__ method through __richcmp__

[2018-07-06 20:58] RayVR opened #238 "commit 27e9d9bf2 breaks compatibility with Quantlib < 1.13"
https://github.com/enthought/pyql/commit/27e9d9bf2427f161d4b34d7c8b0a32932bbd2b8d

withNominal is not in quant lib < 1.13

[2018-10-10 13:39] AUK1939 opened #250 "Adding OISRateHelpers"
Hi I'm trying to expose OvernightRateHelper from quantlib via pyql (which I was hoping to add back to the repo once complete). I followed the docs and created the following files (see below)

_ois_rate_helper.pxd
ois_rate_helper.pyx

However when trying to wrap this code (python setup.py wrap). I get the following error:

Compiling quantlib\termstructures\yields\ois_rate_helper.pyx because it chan

[2018-10-10 19:54] thrasibule commented on #250
Do you have just one constructor defined in _ois_rate_helper.pxd for OISRateHelper? Sometimes cython gets confused when there are multiple. If you just have one, then it should just be a matter of making sure the parameters match like you said. I don't know of an easy way to know the offending parameter unfortunately.

[2018-10-10 20:16] Asad1939 commented on #250
Yes I only have one constructor defined.

Is it just me or this the hard part of programming these cython interfaces? (was going well before this issue). Is there any way to narrow down the offending parameters? I have a feeling I'm not handling the enum types correctly (BusinessDayConvention). But I haven't had much luck tinkering with it.

[2018-10-10 21:12] thrasibule commented on #250
I've found the error: in _ois_rate_helper.pxd, OISRateHelper needs to derive from RelativeDateRateHelper not RelativeDateBootstrapHelper. Next time please push what you have in a branch on your own fork, that will make it easier for me to reproduce what you're seeing.

[2018-10-11 13:45] AUK1939 commented on #250
Thanks that solved the issue (not sure how I missed that). Subsequently I was able to build the EONIA discount curve in pyql.

However I think there might be a bug in the wrapper, Here's a simple example of how to reproduce

[code]
This is the swig equivalent code is below which gives the correct reference date to the curve. Thus either I'm either not converting the code correctly to pyql or there

[2018-10-11 14:12] thrasibule commented on #250
This is a bug with Settings. Depending on how you compiled pyql Settings is not really a singleton. so even though you set the evaluationDate to Date(3, October, 2014), there is another Settings object that get initialized in the curve. I don't understand it very well, so it might be hard to fix. There was a bug with python 3.7 if it was compiled with lto, but I've submitted a fix. Where are you r

[2018-10-11 14:14] thrasibule commented on #250
Regarding your contributions, once you're happy with, you should definitely submit a pull request to this repo. @dpinte is very responsive and will be happy to merge it I'm sure.

[2018-10-11 16:57] AUK1939 commented on #250
I working on a Windows 10 box with Anaconda x64 (Python 3.6.5).

The command line incantation used to build was:
building 'quantlib.cashflow' extension
C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\VC\Tools\MSVC\14.15.26726\bin\HostX86\x64\cl.exe /c /nologo /Ox /W3 /GL /DNDEBUG /MD -D__WIN32__ -DWIN32 -DNDEBUG -D_WINDOWS -DNOMINMAX -DWINNT -D_WINDLL -D_SCL_SECURE_NO_DEPRECATE -D

[2018-10-11 17:11] thrasibule commented on #250
I was afraid of that... I couldn't make it work on windows, but we can try! I assume the tests are not working either? If you do "make tests" I suspect you will have other issues with the date being moved inside Settings.

[2018-10-11 17:15] thrasibule commented on #250
Oh and how did  you compile quantlib on windows?

[2018-10-11 20:37] AUK1939 commented on #250
I built Quantlib from the visual studio IDE (x64 release version with Boost 1.68). The only user config I changed was QL_HIGH_RESOLUTION_DATE. I haven't tried "make tests", will probably need to use nmake or cmake.

[2018-10-12 16:22] dpinte commented on #250
Windows has been a nightmare with the Singleton problem. I had found a working solution for Python2 which did not work on Python 3. We had to patch QL, generate a dll, etc. I unfortunately does not have the time to look into this issue.

[2018-10-17 13:28] AUK1939 commented on #250
I guess it doesn't suprise me, it wouldn't be the only python modules that doesn't work on windows :) Thanks for your input.

[2019-02-20 11:15] centurionb opened #252 "Building issue Win10x64 Python3.7.1 / x64 / VS2017 / QL1.15 / Boost 1.69"
Hi,

Win10x64
Python 3.7.1
VS 2017
QL 1.15
Boost 1.69 (prebuilt boost_1_69_0-msvc-14.1-64.exe)

I followed the following instructions
https://pyql.readthedocs.io/en/latest/getting_started.html#installation-from-source-on-windows

1/ Step f.
I get lots of warnings although VS says the .dll has been built with success.
Why so many warnings ? Can we fix this ?
[code]
2/ Step g.
I struggle generating

[2019-02-20 12:37] centurionb commented on #252
Going through older posts, I have now installed cygwin with binutils pkg
Although def file weights only 15MB, the building/linking went through.
[code]
However I still do have errors running the properly amended setup.py

[code]

Also I am not to sure about the following:
_Copy the QuantLib.dll to a directory which is on the PATH (or just the PyQL directory if you’re in development mode)_
As the s

[2019-02-20 14:41] centurionb commented on #252
[code]

[2019-02-20 15:19] thrasibule commented on #252
Windows instructions are pretty outdated. If you manage to build quantlib, we should update the docs. Regarding your last error, it's a bug in the setup file. You can comment out that line for now.

[2019-11-13 15:49] willferreira opened #253 "Building on x64"
I'm trying to build pyql for WIN32 x64 in the following environment:

- Python 3.6.2 | packaged by conda-forge | (default, Jul 23 2017, 22:58:45) [MSC v.1900 64 bit (AMD64)] on win32
- QuantLib-1.16
- MSVC Community 2017 Version 15.9.17

I followed the instructions [here](https://pyql.readthedocs.io/en/latest/getting_started.html#installation-from-source-on-windows)

but had to make a few addition

[2020-03-31 06:45] Kmanolo opened #255 "Build error error: ‘Microsecond’ is not a member of ‘QuantLib’"
Hello,

I am trying to build pyql on a fresh installation against Quantlib 1.17, on linux mint 19.2 (ubuntu based linux). Quantlib has build fine and i can run the cpp examples. All header files are under /usr/local/include and Quantlib has been placed under /opt. However i get many errors like the below (all
of the kind that date types can not be found in the Quantlib namespace):

quantlib/time/d

[2020-04-18 00:03] thrasibule commented on #255
Your quantlib needs to be built with --enable-intraday.

[2020-04-20 14:28] Kmanolo commented on #255
That has worked well, thanks vm!

[2020-05-29 18:59] cduckk commented on #252
I have the same issue, but according to your second post you seem to have solved this. How did you solve it?

[2020-10-15 08:59] Seanwu928 opened #258 "install pyql in mac"
i`ve install xcode,boost & cython.
then run setup.py ,but the terminal shows 1 error below:
gcc -Wno-unused-result -Wsign-compare -Wunreachable-code -DNDEBUG -g -fwrapv -O3 -Wall -I/Users/Sean/opt/anaconda3/include -arch x86_64 -I/Users/Sean/opt/anaconda3/include -arch x86_64 -I/usr/local/include -I. -I../sources/boost_1_55_0 -I./cpp_layer -I/Users/Sean/opt/anaconda3/lib/python3.7/site-packages/nu

[2020-10-21 15:47] Aspire1Inspire2 opened #259 "error: ‘RelativePriceError’ is not a member of ‘QuantLib::CalibrationHelper’"
I am building with Quantlib 1.19 and conda python3.7 env.

Got the following error:

[code]

Could anyone lend some help?

[2020-10-28 14:51] thrasibule commented on #259
Can you try with this [PR](https://github.com/enthought/pyql/pull/257)? Should be fixed there.

[2020-10-28 14:54] thrasibule commented on #258
Is QuantLib installed? You need the library itself to be installed before you can install pyql. These are just wrappers around the actual library.

[2020-10-29 15:20] Aspire1Inspire2 commented on #259
I tried the pull request, but still get the following errors:

[code]

[2020-10-29 15:23] thrasibule commented on #259
You're being bit by #255  now :( You need to build quantlib with --enable-intraday. How did you install it by the way?

[2020-10-29 23:44] Aspire1Inspire2 commented on #259
It works after turning intraday feature on with the aforementioned pull request.
Thanks for your help!

I am building both Quantlib and PyQl from its git repo.
I can confirm that this pull request works for Quantlib 1.20 as well.

[2020-10-29 23:44] #259 closed

[2020-10-30 13:39] Aspire1Inspire2 opened #260 "pyql/examples/data/df_libor.pkl cannot be loaded"
The pickle file cannot be loaded into pandas dataframe under the following env:
Python 3.7
Pandas 1.1.3

Could we switch to csv files as data source for the examples?
Pickle files are known to be incompatible between python package revisions.

[2020-11-01 15:59] Aspire1Inspire2 opened #261 "Pain point: Not enough documentation"
Hi I am a new user to pyql.
After installation and giving it a try for the past week, I found that the library is lacking tutorial and documentation.
Maybe the library is good enough for the developers of this library, but this library is not providing enough guidance for new comers.

The amount of notebook/script examples are limited. And they do not systematically explain how to utilize the libr

[2020-11-02 09:41] #255 closed

[2020-11-25 12:50] dpinte commented on #252
You need `nm.exe` which comes with cygwin or a mingw installation. As @thrasibule said, the Windows support is really outdated and has not been considerable stable. Any feedback, improvements or updates to the current state would be really useful.

[2021-07-14 19:10] mrslezak commented on #252
Yeah I'm finding the same issue here much later on MSVC 14.1 and using SDK 8.1 or 10.x.   It really comes down to just a few issues apparently after I dug through the error messages - there's really not all that many.  I can build a DLL but I doubt it works.  Here's what has to be fixed (in Boost), and I suck at C++, so someone with more expertise would be ideal to work through these (what appear

[2021-07-14 21:06] thrasibule commented on #252
From what I remember, the issue is not so much building pyql on windows, which is easy enough, but having a working copy. If you try to run the tests, I suspect it fails pretty hard. The singleton used by the Settings class gets compiled differently on windows, and doesn't behave as singleton.

[2021-07-14 21:17] mrslezak commented on #252
Thanks thrasibule - are there any workarounds you've come across to correct the behavior introduced by the singleton not compiling as it should on Windows, and behaving like its not a singleton?  Is there another compiler better suited to produce a working copy on Windows that avoids this issue?  The project I'm working on must run on Windows, which wherein the problem lies, otherwise I'd have alr

[2021-07-14 22:01] mrslezak commented on #252
Would one of these solutions, such as one here: https://stackoverflow.com/questions/6915/thread-safe-lazy-construction-of-a-singleton-in-c?rq=1 defeat the singleton issue on Windows?  Without destroying the functionality of PyQL?

[2021-07-16 00:58] mrslezak commented on #252
Just to note - if these instructions are NOT followed:
[code]

[2021-07-17 21:48] mrslezak commented on #252
Seems to me, with limited knowledge, the BOOST libraries definitions for singleton need to be changed and Boost recompiled for it to work on Windows x64 MSVC 14.1+.  Using the C++ 11 standard the Meyer's singleton should work, although I found a website with numerous examples of how the boost code could be edited:

This one in particular actually goes through the Boost code (and has thread safe im

[2021-07-17 22:25] mrslezak commented on #161
Are you guys using a patched generate_symbols.py or something?  Mine always fails.  1) it thinks the build directory is vc140 (despite msvc9.compiler.VERSION returning: 14.1, it's ignored) when it's actually: QuantLib-1.22/build/v141/ (yes, I hardcoded that instead, still doesn't work; also tried to let it be and copy QuantLib-1.22/build/v141 to QuantLib-1.22/build/vc140/, still fails).

Despite a

[2021-07-19 07:12] thrasibule commented on #252
@mrslezak I'm not sure the singleton code needs fixing per se. As far as I know, the Swig bindings to quantlib work fine on windows, so I think the C++ code is fine as it is. My guess is that the issue is more a bad interaction between cython and the MSVC compiler, that may be fixed by changing the compiler flags.

[2021-07-19 08:09] dpinte commented on #252
@mrslezak I've spent a lot of time trying to understand what the exact issue was between the cython binding and the behaviour of the Settings singleton instantiated from the dll. It's been working with the above-mentioned patch for some time (IIRC prior to the migration to Python 3). If you're investing time looking into the issue, I would suggest starting from a clean slate and not look in the su

[2021-07-19 08:12] dpinte commented on #161
@mrslezak IIRC, I was generating the symbols using cygwin, which came with `nm`.

[2021-07-19 17:35] mrslezak commented on #252
Good point - the default flags are full optimization Ox + OpenMP maybe
that's too aggressive and mangling symbols and code too much.  I haven't
looked much at the PyQL code - all the options models I wrote in Cython
prior I'd use the Windows OpenMP interface in the Cython code itself with
NumPy memory views, there has never been a faster C++ implementation I've
witnessed...

E.g.

cimport cython
c

[2021-07-30 00:54] mrslezak commented on #261
Yes this is 100% true, the documentation is so outdated; if the maintainers want people to extend the library the readme.md and installation instructions should be updated.  Otherwise, it's an esoteric library with only those that "dive in" and explore the source commits to understand the current status / functionality of the libraries.  I don't care honestly if Enthought wants to create a commerc

[2021-08-13 22:44] mrslezak commented on #252
I think the equivalent on Windows is dumpbin.exe ran from a Visual Studio Command Prompt.  I did eventually engineer a WSL2 solution that fully works on my corporate PC (took a few weeks).  But anyone have an example output of symbols generated by nm on Linux?  Of course I could build it myself now, but if anyone has an example file I haven't setup QuantLib or Boost yet on my Debian Buster WSL2.

[2021-08-16 19:12] mrslezak commented on #252
I just found a merged commit to enable a safe singleton thread-safe class, this should be out in the next QuantLib release: https://github.com/lballabio/QuantLib/pull/1145/commits/185c91461e94effe187b460713f6fadee77679e9

[2021-08-18 02:58] mrslezak commented on #252
Yes I posted that in another thread, or issue here; and tried building the dev build with the singleton changes 1.43-dev I believe, but see there is still an issue.  I believe an alternative may be to generate symbols for a DLL on Windows (since it produces none by default on a DLL) is only solved by making a new Visual Studio project created using Cmake as mentioned here: https://cmake.org/cmake/

[2021-08-18 13:29] dpinte commented on #252
@mrslezak thanks for sharing your findings! On my end, I haven't touched the windows part of pyql for years and unfortunately have no time to go back to it right now.

[2022-01-26 18:33] thrasibule commented on #250
OISRateHelpers have been added.

[2022-01-26 18:33] #250 closed

[2022-09-20 18:55] thrasibule commented on #121
This is exposed now: http://docs.enthought.com/pyql/_autosummary/quantlib.instruments.bonds.CPIBond.html#quantlib.instruments.bonds.CPIBond

[2022-09-20 18:55] #121 closed

[2022-09-20 19:00] thrasibule commented on #261
Agreed that the documentation needs improvements. I've refreshed it a little bit, and thanks to github action it gets rebuilt on every merge now. You can find the most up to date version here: http://docs.enthought.com/pyql/
Another source of knowledge are the scripts in the examples folder, as well as the tests, which show how to use a lot of the classes.